form label {
  margin: 8px 0 0 0;
  display:block;
  font-weight: 600;
}

form input[type='checkbox'] {
    float:left;
    margin-right: 5px;
}

form input[type='submit'] {
  margin: 7px 0;
}

form .section {
    margin-left: 30px;
}

form label.required:after { content: "*"; }

.ac_input {
    font-size: 95%;
}

#notifications .negative,  #notifications .positive {
  margin-top:-9px;
  font-weight: bold;
  width:100%;
  padding: 6px 9px;
  background-color:#6176a0;
  margin-bottom:18px;
  margin-left:-9px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;

}

#notifications ul {
  font-weight: normal;
  list-style-position: inside;
}

#notifications .close a {

  font-weight: normal;
  float:right;
  color: #4c2f2f;
}

#notifications .positive a {
    color: #fff;
}
#notifications .positive .close a {
  color:#c4d2db;
}

#notifications .positive {
  color: #ffe29d;
  background-color:#6176a0;
}

#notifications .negative {
  color: #4c2f2f;
  background-color:#ff9d9f;
}





#ErrorExplanation { border: 2px solid #red; width:500px; padding: 7px; padding-bottom: 12px;
		  margin-bottom: 20px; background-color: #f0f0f0; }

#ErrorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 27px;
	font-size: 12px; margin: -7px; 
	background: url(../../media/img/alertbad_icon.gif) #c00 left no-repeat; color: #fff; }

#ErrorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }

#ErrorExplanation ul { margin-left: 30px; }

#ErrorExplanation ul li { font-size: 12px; list-style: square; }

.ErrorHighlight, form .error { background: url(../../media/img/exclamation.png) left no-repeat;
		padding: 0px 0px 0px 20px; }
h1 { color: #000; margin: 5px; text-shadow: 2px 2px 3px #999; margin-bottom: 15px; }
.intern,.employee,.contractor { visibility: collapse; }
body[hire_type="intern"] .intern { visibility: visible; }
body[hire_type="employee"] .employee { visibility: visible; }
body[hire_type="contractor"] .contractor { visibility: visible; }

#employee-selector { width: 500px; margin-left: auto; margin-right: auto; padding: 10px; }
.employee-type { font-size: 1.5em; text-decoration: none; text-align: center; }
img.employee-type { border: 0px; }
.employee-type:hover { background: #eeeeff; color: #fff; text-decoration: bold; }
.employee-description { text-decoration: italics; }
a.employee-type { text-decoration: none; }
a { text-decoration: none; }
a img { border: 0px; }