h1 {
    color: #000;
    margin: 5px;
    text-shadow: 2px 2px 3px #999;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}
a img {
    border: 0px;
}

#new_hire_banner {
    padding: 5px 0px 0px 50px;
    height: 50px;
	background : url(/media/img/app_emps.png) no-repeat 0 0;
}
#webdev_banner {
    padding: 5px 0px 0px 50px;
    height: 50px;
	background : url(/media/img/webdev_mozilla.png) no-repeat 0 0;
}

#project_init_banner {
    padding: 5px 0px 0px 50px;
    height: 50px;
	background : url(/media/img/action_forward.png) no-repeat 0 0;
}

/** Styles for the Application Forms **/

.app_form label {
  margin: 8px 0 0 0;
  display:block;
  font-weight: 600;
}

.app_form .error {
    display: block;
}

.app_form input[type='checkbox'] {
    float:left;
    margin-right: 5px;
}

.app_form input[type='submit'] {
  margin: 7px 0;
}

.app_form .section {
    margin-left: 30px;
}

.app_form label.required:after { content: "*"; }

.app_form fieldset {
    margin: 2em 0 2em 0;
    padding: 2em;
    border: 3px solid #c4d2db;
}
.app_form legend {
    font-size: 1.2em;
    font-weight: 600;
}

/** tweak for jquery autocomplete **/
.ac_input {
    font-size: 95%;
}
/** END Application Form styles **/


/** Notification styles used by Client helper Class **/
#notifications .negative,  #notifications .positive {
    margin-top:-9px;
    font-weight: bold;
    width:100%;
    padding: 6px 9px;
    background-color:#6176a0;
    margin-bottom:18px;
    margin-left:-9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#notifications ul {
  font-weight: normal;
  list-style-position: inside;
}

#notifications .close a {

  font-weight: normal;
  float:right;
  color: #4c2f2f;
}

#notifications .positive a {
    color: #fff;
}
#notifications .positive .close a {
  color:#c4d2db;
}

#notifications .positive {
  color: #ffe29d;
  background-color:#6176a0;
}

#notifications .negative {
  color: #4c2f2f;
  background-color:#ff9d9f;
}

/** END Notification Styles **/

/** Styles for centered landing page boxes **/
#landing_content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#landing_content .item {
    width: 245px;
    float: left;
}
#landing_content .item h2 {
    text-align: center;
}
/** END landing page styles **/


/** Styles for resizable textareas **/
div.grippie {
    background:#EEEEEE url("../../media/img/grippie.png") no-repeat scroll center;
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}
.resizable-textarea textarea {
    display:block;
    margin-bottom:0pt;
    width:95%;
    height: 20%;
}
textarea.resizable {
    height: 4em;
}
/** END Styles for resizable textareas **/
